
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<body class="page body_style_fullscreen body_filled article_style_stretch template_single-standard top_panel_style_dark top_panel_opacity_solid top_panel_above menu_right sidebar_hide">
    <a id="toc_top" class="sc_anchor" title="To Top" data-description="&lt;i&gt;Back to top&lt;/i&gt; - &lt;br&gt;scroll to top of the page" data-icon="icon-angle-double-up" data-url="" data-separator="yes"></a>
    <!-- Body -->
    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>
            <header class="top_panel_wrap bg_tint_dark">
                <!-- User menu -->
               
                <!-- /User menu -->
                <!-- Main menu -->
            
                <!-- /Main menu -->
            </header>
            <!-- Page title -->
            <div class="page_top_wrap page_top_title page_top_breadcrumbs sc_pt_st1">
                <div class="content_wrap">
                    <div class="breadcrumbs">
                        <a class="breadcrumbs_item home" href="/CodeHub/Index">Home</a>
                        <span class="breadcrumbs_delimiter"></span>
                        <span class="breadcrumbs_item current">Contact Us</span>
                    </div>
                    <h1 class="page_title">Contact Us</h1>
                </div>
            </div>
            <!-- /Page title -->
            <!-- Content without sidebar -->
            <div class="page_content_wrap">
                <div class="content">
                    <article class="post_item post_item_single page">
                        <section class="post_content">
                            <!-- Features section -->
                            <div class="sc_section">
                                <h5 style="margin-left:15%">For CodeHub</h5>
                                <div class="sc_content content_wrap margin_top_3em_imp margin_bottom_3em_imp">
                                    <div class="columns_wrap sc_columns columns_fluid sc_columns_count_3">
                                        <div class="column-1_3 sc_column_item sc_column_item_1 odd first text_center">
                                            <span class="sc_icon icon-mail-2 link_color font_5em lh_1em"></span>
                                            <div class="sc_section margin_top_1em_imp">
                                                <p>
                                                    <a href="#">codehub@gmail.com</a><br />
                                                    
                                                </p>
                                            </div>
                                        </div>
                                        <div class="column-1_3 sc_column_item sc_column_item_2 even text_center">
                                            <span class="sc_icon icon-telephone-2 link_color font_5em lh_1em"></span>
                                            <div class="sc_section margin_top_1em_imp sc_features_st1">
                                                <p>
                                                    +92 352719283
                                                    <br /> +92 324171936
                                                </p>
                                            </div>
                                        </div>
                                        <div class="column-1_3 sc_column_item sc_column_item_3 odd text_center">
                                            <span class="sc_icon icon-map-2 link_color font_5em lh_1em"></span>
                                            <div class="sc_section margin_top_1em_imp sc_features_st1">
                                                <p>
                                                    176 W street name,<br />
                                                    Gujrat, Pakistan
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Features section -->
                            <!-- Contact form -->
                            <div class="sc_section">
                                <h5 style="margin-left:15%">For Website Developer</h5>
                                <div class="sc_content content_wrap margin_top_3em_imp margin_bottom_3em_imp">
                                    <div class="columns_wrap sc_columns columns_fluid sc_columns_count_3">
                                        <div class="column-1_3 sc_column_item sc_column_item_1 odd first text_center">
                                            <span class="sc_icon icon-mail-2 link_color font_5em lh_1em"></span>
                                            <div class="sc_section margin_top_1em_imp">
                                                <p>
                                                    <a href="#">PowerPuffDevelopers@gmail.com</a><br />
                                                    
                                                </p>
                                            </div>
                                        </div>
                                        <div class="column-1_3 sc_column_item sc_column_item_2 even text_center">
                                            <span class="sc_icon icon-telephone-2 link_color font_5em lh_1em"></span>
                                            <div class="sc_section margin_top_1em_imp sc_features_st1">
                                                <p>
                                                    +92 352719283
                                                    <br /> +92 324171936
                                                </p>
                                            </div>
                                        </div>
                                        <div class="column-1_3 sc_column_item sc_column_item_3 odd text_center">
                                            <span class="sc_icon icon-map-2 link_color font_5em lh_1em"></span>
                                            <div class="sc_section margin_top_1em_imp sc_features_st1">
                                                <p>
                                                    176 W street name,<br />
                                                    Lahore, Pakistan
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Contact form -->
                        </section>
                    </article>
                </div>
            </div>
            <!-- /Content without sidebar -->
            <!-- Google map -->
            
            <!-- /Google map -->
            <!-- Contacts Footer  -->
       
            <!-- /Contacts Footer  -->
            <!-- Copyright -->
       
            <!-- /Copyright -->
        </div>
    </div>
    <!-- /Body -->
    <a href="#" class="scroll_to_top icon-up-2" title="Scroll to top"></a>

    <div class="custom_html_section"></div>

   

</body>
